#sortable{
    z-index: 100;   
}
#sortable li{
    list-style-type: none;
    padding: 5px;
    border: 1px solid #00000036;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
float: left;
}